
body, h1, p, a, form, label, input, button {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif; 
    background-color: #e7f3fe; 
    color: #34495e; 
    padding: 20px;
}


h1 {
    color: #2c3e50; 
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}


a {
    display: inline-block;
    margin: 10px 0;
    font-size: 1.1em;
    color: #2980b9; 
}

a:hover {
    color: #3498db; 
}


form {
    background-color: rgba(255, 255, 255, 0.9); 
    border: 2px solid #bdc3c7; 
    border-radius: 10px; 
    padding: 20px;
    max-width: 400px; 
    margin: 0 auto; 
}


input[type="text"] {
    width: 90%; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #95a5a6; 
    border-radius: 5px; 
}


button {
    background-color: #27ae60; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #219150; 
}
.links {
    text-align: center; 
    margin-top: 20px; 
}

.links a {
    display: inline-block; 
    margin: 0 10px; 
    padding: 10px 15px; 
    border: 2px solid #2980b9; 
    border-radius: 5px; 
    color: #2980b9; 
    background-color: white; 
    transition: background-color 0.3s, color 0.3s; 
}

.links a:hover {
    color: white; 
    background-color: #2980b9; 
}
