
body, h1, a, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none; 
    text-decoration: none;
}

body {
    font-family: 'Georgia', serif; 
    background-color: #fff3e0; 
    background-size: cover;
    background-attachment: fixed; 
    line-height: 1.6;
    padding: 20px;
}


h1 {
    color: #d81b60; 
    font-size: 2.8em;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); 
    letter-spacing: 1px; 
}


a {
    display: inline-block;
    margin: 15px 0;
    font-size: 1.3em;
    color: #f57c00; 
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
    border: 2px solid #f57c00; 
    transition: background-color 0.3s, color 0.3s, transform 0.3s, border-color 0.3s;
}

a:hover {
    background-color: #f57c00; 
    color: white; 
    border-color: #d81b60; 
    transform: scale(1.05); 
}


ul {
    padding: 0;
}

li {
    margin: 10px 0; 
    border: 2px solid #4caf50; 
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); 
    transition: background-color 0.3s, transform 0.3s; 
}

li:hover {
    background-color: rgba(76, 175, 80, 0.1); 
    transform: translateY(-2px); 
}

/* Responsive design */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    a {
        font-size: 1em; 
        padding: 8px 12px; 
    }

    li {
        font-size: 0.9em; /* Smaller font for list items on mobile */
    }
}
