
body, h1, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #4a4a4a;
}

body {
    font-family: 'Georgia', serif;
    background-color: #f0e7e2; 
    line-height: 1.6;
    padding: 20px;
    background-image: url('https://i.pinimg.com/736x/c6/de/0a/c6de0af83f4d712fe9f2b213a9a45417.jpg'); /* Optional floral background image */
    background-size: cover;
}


h1 {
    color: #e57373; 
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
}


a {
    color: #f06292; 
    margin: 0 10px;
    font-weight: bold;
}

a:hover {
    color: #d81b60; 
}


p {
    margin: 20px 0;
    font-size: 1.2em;
}


a.button {
    display: inline-block;
    background-color: #81c784; 
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a.button:hover {
    background-color: #66bb6a; 
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
}
